option_settings:
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
  aws:rds:dbinstance:
    DBAllocatedStorage: 20
    DBDeletionPolicy: Retain
    DBEngine: postgres
    DBInstanceClass: db.t4g.micro
    DBUser: postgres
    DBPassword: mysecretpassword
    DBName: blacklistdb
    MultiAZDatabase: false
  aws:elasticbeanstalk:application:environment:
    SECRET_KEY: 'super-secret'
    JWT_SECRET_KEY: 'super-secret'