option_settings:
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /blacklist/ping
  aws:autoscaling:asg:
    MinSize: 3
    MaxSize: 6
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
  aws:ec2:instances:
    InstanceTypes: t3.micro